.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(35, 36, 42);
  padding: 50px 30px 50px 30px;
}

.movie-card {
  width: 23%;
  margin-bottom: 5px;
  text-align: center;
}

.movie-poster {
  width: 80%;
  height: auto;
  border: 1px #a6a6a6 solid;
  color: hsl(172, 100%, 53%);
}

.movie-details {
  width: 90%;
  margin-left: 40px;
}

.movie-title {
  margin-top: 10px;
  font-size: 15px;
  text-align: start;
  color: beige;
}

.movie-average-vote {
  font-size: 12px;
  color: rgb(255, 230, 0);
  margin-bottom: 20px;
  text-align: start;
  margin-top: 5px;
  font-size: 15px;
}
