/* .movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(35, 36, 42);
  padding: 50px 30px 50px 30px;
}

.movie-card {
  width: 23%;
  text-align: center;
  border: 2px solid white !important;
}

.movie-poster {
  width: 80%;
  height: auto;
} */
.movie-average-vote {
  font-size: 12px;
  color: rgb(255, 230, 0);
  margin-bottom: 20px;
  text-align: start;
  margin-top: 5px;
  font-size: 13px;
}
.movie-details {
  width: 90%;
  margin-left: 32px;
}

.movie-title {
  margin-top: 10px;
  font-size: 17px;
  text-align: start;
  color: beige;
}

.movie-details {
  width: 90%;
  margin-left: 32px;
}
