/* .movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(35, 36, 42);
  padding: 50px 30px 50px 30px;
}

.movie-card {
  width: 23%;
  text-align: center;
  border: 2px solid white !important;
}

.movie-poster {
  width: 80%;
  height: auto;
} */
